body,
input {
    background-image: linear-gradient(rgb(114, 164, 240) , rgb(211, 84, 132))!important;
}

p,
h1,
h2,
a {
    color: #ffffff !important;
}

.img_logo {
    width: 80px;
}

.navbar {
    background-image: linear-gradient(to right, rgb(133, 180, 250) , rgb(187, 103, 255))!important;
    border-bottom: 8px solid white;
}

#produtos-display {
    display: flex;
    flex-wrap: wrap;
}

.col-item {
    flex-basis: 20%;
    max-width: 20%;
    padding: 0 10px;
    margin-bottom: 20px;
}

.card-text {
    color: #000000 !important;
}

.detalhes_bot {
    border: 2px solid #33275e;
    background-color: #422c77;
}

.detalhes_bot:hover {
    border: 2px solid #33275e;
    background-color: #543b8c;
}

.detalhes_bot:active {
    border: 2px solid #33275e !important;
    background-color: #543b8c !important;
}

.container-detalhes {
    max-width: 700px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
    background-color: #be92c4;
    border: 2px solid #7254f5;
}

.sobre{
    pointer-events: none;
}