
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: auto;
    padding: 0;
    color: #454D40;
    text-align: center;
}

header {
    background-color: #BAB4A8;
    color: #454D40;
    padding: 10px 0;
    display: flex; /* Tornar o header um contêiner flex */
    justify-content: space-between; /* Espaço entre a logo e a navbar */
    align-items: center;
}

.logo{
    display: flex;   
}

.logo img {
    width: 250px;   
    margin-right: 20px; /* Espaço à direita do logotipo para separá-lo dos links */
}

.navbar {
    display: flex; /* Tornar a navbar um contêiner flex */
    justify-content: flex-end; /* Alinhar elementos à direita */
    align-items: center;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #454D40;
    font-weight: bold;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #DDD2CE;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background: #BAB4A8;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
    gap: 5px
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus {
    border: 1px solid #000000;
    
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color:#00000040;    
}

.btn {
    background-color: #00000040;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #00000040;

}